header  {
  width: 100%;
  height:40em;
  background: url(../images/food.jpg) no-repeat 100%;
  background-position: center;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
     
}

.gallerybar {
  background-image: url(../images/food3.jpg)
}

.bgardens {
  background-image: url(../images/library9.jpg)
}
.library {
  background-image: url(../images/food4.jpg)
}

.courtroom {
  background-image: url(../images/food1.jpg)
}

.social  {
  margin-top:-30px;
}