header  {
  width: 100%;
  height:40em;
  background: url(../images/night1.jpg) no-repeat 100%;
  background-position: center;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
     
}

.gallerybar {
  background-image: url(../images/gallerybar.jpg)
}

.bgardens {
  background-image: url(../images/winelist.jpg)
}
.library {
  background-image: url(../images/cocktails.jpg)
}

.courtroom {
  background-image: url(../images/spirits2.jpg)
}

.social  {
  margin-top:-30px;
}