header  {
  width: 100%;
  height:40em;
  background: url(../images/For-off-sales-1.jpg) no-repeat 100%;
  background-position: center;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
     
}

.gallerybar {
  background-image: url(../images/for-off-sales-4.jpg)
}

.bgardens {
  background-image: url(../images/for-off-sales-3.jpg)
}
.library {
  background-image: url(../images/for-off-sales-5.jpg)
}

.courtroom {
  background-image: url(../images/for-off-sales-6.jpg)
}

.social  {
  margin-top:-30px;
}