header  {
  width: 100%;
  height:40em;
  background: url(../images/winelist.jpg) no-repeat 100%;
  background-position: center;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
     
}

.gallerybar {
  background-image: url(../images/winelist13.jpg) 
}

.bgardens {
  background-image: url(../images/beergardens2.jpg)
}
.library {
  background-image: url(../images/winelist7.jpg)
}

.courtroom {
  background-image: url(../images/winelist3.jpg)
}

.social  {
  margin-top:-30px;
}